* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    padding: 5px;
    color: black;
    background-color: #EDEDED;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    color: #de1d22;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-top: 10px;
}

h4{
    clear: both;
} 

button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 850px;
}

header, footer, footer a {
    text-align: center;
    background-color: #de1d22;
    color: #fafafa;
}

header img {
    width: 300;
    height: auto;
    float: right;
}

pre {
    font-family: monospace;
    background: #f4f4f4;
    display: inline;
    padding: 5px;
}

pre.code{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin: 1.6em;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
}

div.back {
    background-color: #efefef;
    padding-left: 5px;
    margin: -5 -5 10px -5;
    font-size: 10pt;
    line-height: 20px;
}
div.back a{
    text-decoration: none;
    color:#D10101;
}

footer {
    font-size: 0.75rem;
    width: 100%;
 }

.style1 {
    margin: 0 auto; border: 1px solid #bbb; padding: 5px; background-color: #cedefa; line-height: 1.5em;
}

div#mainContent {
    padding: 10px;
    background-color: #FFFFFF;
    min-height: 100%;
}

.classA{
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    padding: 5px;
    color: black;
    background-color: #EDEDED;
}

.classB{
    font-size: 18px; 
    line-height: 40px;
    font-family: Helvetica;
    padding: 15px;
    color: red;
    background-color: black;
}

.classC{
    font-size: 12px; 
    line-height: 12px;
    font-family: Arial;
    padding: 5px;
    color: black;
    background-color: orange;
}

.input_big {
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: .75rem;
    outline: none;
    background: transparent;
    margin-bottom: .5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

.horizontalMenu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CCC;
    width: 99vw;
    min-width: 99vw;
    max-width: 99vw;
    max-height: 50px;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.horizontalMenu li {
    float: left;
    list-style-type: none;
    vertical-align: middle;
}

.horizontalMenu li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
    max-width: 7vw;
    max-height: 50px;
    min-width: 1vw;
    transition-property: max-width;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.horizontalMenu li a:hover {
    background-color: red;
    color: white;
    max-width: 30vw;
}

div.exampleBox {
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 35pt;
    max-width: 90vw;
    min-height: 7vh;
}

.domExample {
    padding: 10px;
    width: 120px;
    float: left;
    margin: 2px;
}

#canvas { 
    background:#fff; 
    border:1px solid #cbcbcb; 
    width: 300px;
    height: 300px;
}
