#mainContent{
	align-items: center;
	color: black;
	vertical-align: middle;
	font-size: 28pt;
	text-align: center;
}

.box1,.box2,.box3,.box4,.box5 {
	margin:auto;
	display: flex;
}

.box1:hover,.box2:hover,.box3:hover,.box4:hover {
    border-radius: 0;
    transform: rotate(180deg);
    background-color:darkred;	
    border-radius: 40%;
    transition: border-radius 1s ease, 
                background-color 1s ease, 
                transform .5s;
}

.box5:hover {
    border-radius: 0;
    transform: rotate(360deg);
    background-color:darkred;	
    border-radius: 40%;
    text-transform: uppercase;
    transition: border-radius 1s ease, 
                background-color 1s ease, 
                transform .5s;
}
.box1 {
	width: 500px;
	height: 500px;
	background-color: red;
}

.box2 {
	width: 400px;
	height: 400px;	
	background-color: blue;
}

.box3 {
	width: 300px;
	height: 300px;
	background-color: green;
}

.box4 {
	width: 200px;
	height: 200px;	
	background-color: black;
}

.box5 {
	width: 100px;
	height: 100px;	
	background-color: white;
}
