* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: black;
    /*width: 100vw;*/
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    color: #de1d22;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-top: 10px;
}

h4{
    clear: both;
} 

button {
  background-color: orange;
  border: none;
  color: white;
  padding: 13px 27px;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 850px;
}

header, footer, footer a {
    text-align: center;
    background-color: forestgreen;
    color: #fafafa;
}

header img {
    width: 300;
    height: auto;
    float: right;
}

div.back {
    background-color: #efefef;
    padding-left: 5px;
    margin: -5 -5 10px -5;
    font-size: 10pt;
    line-height: 20px;
}
div.back a{
    text-decoration: none;
    color:#D10101;
}

footer {
    font-size: 0.75em;
    width: 100%;
 }


div#mainContent {
    padding: 10px 0;
    background-color: #FFFFFF;
    min-height: 100%;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}

.hero {
    text-align: center;
    background-color: forestgreen;
    color: #fafafa;
    height: 120px;
    background: url(../img/hero.jpg);
    background-size: cover;
    display: inline-grid;
    width: 100%;
    text-transform: uppercase;
}
.hero h1 {
    font-size: 50pt;
    vertical-align: middle;
    padding: 10px;
    margin: auto;
}

@media (max-width: 700px) {
  .hero h1 {
      font-size: 25pt;
      vertical-align: middle;
      padding: 10px 0;
      margin: auto;
  }
}


.hero h3 {
    border-bottom: 1px solid #bbb;   
    text-transform: capitalize;
}

.column {
  overflow: scroll;
  background-color: white;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  width: 99%;
  float: left;
  padding: 10px;
}

@media (min-width: 700px) {
  .column {
    max-width: 32.5%;
    margin-left: 10px;
    max-height: 656px;
    min-height: 656px;
    overflow-y: scroll;
  }
}

ul#ingredients{
  max-height: 450px;
  overflow-y: scroll;
}

.column p {
    text-align: center;
}

/* Clear floats after the columns */
.content:after {
  content: "";
  display: table;
  clear: both;
}

.input_big {
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: .75rem 2px;
    outline: none;
    background: transparent;
    margin: .5rem 0;
    font-size: 1rem;
    width: 72%;
    max-width: 72%;
    line-height: 1;
    float: left;
}

.btn_big {
    width: 97%;
    background: linear-gradient(to right, #ee0979, #ff6a00);
}

.recipe img {
  width: 100%;
  margin: 0 auto 5px auto;
  max-height: 250px;
}

.ingredient img {
  margin: auto;
  max-height: 100px;
}

.recipe, .ingredient {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 2px;
  vertical-align: top;
  font-size: 12pt;
  text-align: center;
  line-height: normal;
  display: flex;
  flex-direction: column;
}

.recipe:hover{
    animation-name:recipeHover;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes recipeHover {
  0%   {background-color: #fff;}
  50%  {background-color: red;}
  100% {background-color: darkred;}
}

.grid {
  list-style: none;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  padding-inline-start: unset;

}

.hidden {
    display: none;
} 
.waiting{
    display: block;
} 

#waiting .box1,#waiting .box2,#waiting .box3,#waiting .box4,#waiting .box5 {
    animation-name:boxes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes boxes {
  0%   {   transform: rotate(90deg);
    border-radius: 10%;
    transition: border-radius 1s ease, 
                background-color 1s ease, 
                transform .5s;}
  25%  {transform: rotate(180deg);
    border-radius: 20%;
    transition: border-radius 1s ease, 
                background-color 1s ease, 
                transform .5s;}
  50%  {transform: rotate(270deg);
    border-radius: 30%;
    transition: border-radius 1s ease, 
                background-color 1s ease, 
                transform .5s;}
  100% {transform: rotate(360deg);
    background-color:darkred;   
    border-radius: 40%;
    transition: border-radius 1s ease, 
                background-color 1s ease, 
                transform .5s;}
}

.box1 {
  width: 120px;
  height: 120px;
  background-color: red;
}

.box2 {
  width: 100px;
  height: 100px;  
  background-color: blue;
}

.box3 {
  width: 75px;
  height: 75px;
  background-color: green;
}

.box4 {
  width: 50px;
  height: 50px;  
  background-color: black;
}

.box5 {
  width: 25px;
  height: 25px;  
  background-color: white;
}

.box1,.box2,.box3,.box4,.box5 {
  margin:auto;
  display: flex;
}

canvas#subtitle{
  width: 50%;
  max-width: 400px;
  height: 60px;
  margin: 0 auto;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh;
  overflow: scroll;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  animation-name: fadeIn;
  animation-duration: 0.4s
  border-radius: 7%;
}

.modal h2 {
  color: white;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100vw;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: orange;
  color: white;
}
.modal-body {padding: 2px 16px;}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

#modalImg {
  width: 33%;
  float: right;
  border-radius: 7%;
}

#modalBody{
  float: left;
  width: 60%;
  margin: 15px;
}